
.character-class-preview {
    height: 33vh;
    width: 45vh;
    background-size: cover;
}


.sheet-class {
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.2)
}
